body {
	color: white;
	width: 100%;
	height: 100vh;
	background-color: gray;
	background-image: url('https://images.hdqwalls.com/wallpapers/forest-mountains-3v.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	position: relative;
}

.container {
	margin-top: 10px;
	font-size: 20px;
	width: 70%;
	height: 100vh;
	margin: 5% auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 10%;
}

body h1 {
	font-size: 40px;
}

.app-name {
	top: 0;
	left: 10px;
	position: absolute;
	margin: 0;
}

.info h1 {
	text-align: center;
}

h1,
.location {
	font-size: 3rem;
}

.bottom {
	display: flex;
	width: 70%;
	height: 90px;
	background-color: rgb(255, 255, 255, 0.2);
	justify-content: space-evenly;
	align-items: center;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: center;
}

.bottom p {
	margin: 0;
}

.box {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.bottom .bold {
	font-size: 2rem;
	font-weight: bold;
}

input {
	width: 40%;
	padding: 10px 20px;
	border-radius: 20px;
	background-color: rgb(0, 0, 0, 0.3);
	color: white;
	font-size: 1.5rem;
	border: none;
	outline: none;
}

input::placeholder {
	color: white;
}
button {
	padding: 10px 20px;
	background-color: transparent;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 25px;
}

button:hover,
button.active {
	background-color: rgba(255, 255, 255, 0.2);
}

button:focus {
	outline: none;
}

#search-form {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
